.green-cta {
    font-size: var(--font-size-4);
    text-decoration: none;
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
    border: 1px solid var(--green);
    font-weight: var(--font-weight-title);
    border-radius: 5px;
}
.green-cta:active,
.green-cta:hover {
    background-color: var(--green-800);
    color: var(--white);
}
