.green-cta {
    font-size: var(--font-size-4);
    text-decoration: none;
    background-color: var(--green-900);
    color: var(--dark-gray);
    padding: 14px 86px;
    border: 1px solid var(--green);
}

.green-cta:hover {
    background-color: var(--green);
    color: var(--dark-gray);
}
