.chef-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.chef-title {
    font-family: var(--font-sans-serif-text);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-4);
    text-align: left;
}

.chef-description {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-normal);
    text-align: justify;
    line-height: var(--line-height-title);
}

@media screen and (min-width: 50em) {
    .chef-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
        margin: auto;
        margin-bottom: 2rem;
    }

    .chef-title {
        font-size: var(--font-size-3);
        text-align: left;
        font-weight: var(--font-weight-title);
        letter-spacing: -0.05rem;
        font-style: normal;
        line-height: 1;
        margin-top: 0;
    }

    .chef-description {
        font-size: var(--font-size-5);
        display: block;
        line-height: var(--line-height-solid);
        max-width: 45ch;
    }

    .chef-picture{
        max-width: 30vw;
    }
}
