.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.contact-hero-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.contact-hero-title-container {
    max-width: 50%;
    position: relative;
    z-index: 2;
    background-color: var(--white);
}

.contact-hero-title {
    font-weight: var(--font-weight-normal);
    font-family: var(--font-sans-serif-text);
    font-size: var(--font-size-6);
    margin-bottom: 0.5rem;
    margin-top: 0;
    letter-spacing: -0.05rem    ;
}

.contact-mobile-hero-map {
    display: block;
    margin-top: -2rem;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 2rem;
}

.contact-contact-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.form-container {
    max-width: 100%;
    padding-bottom: 2rem;
}

.form-intro {
    font-size: var(--font-size-6);
    color: var(--dark-gray);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}

.input-label {
    font-size: var(--font-size-6);
    color: var(--dark-gray);
}

.input-label:after {
    content: "*";
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vh 0;
}

.form-input {
    border-bottom: 1px solid var(--dark-gray);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    font-size: var(--font-size-3);
    margin: 1vh 0
}

.input-error {
    color: var(--red);
    font-size: var(--font-size-7);
}

.form-disclaimer {
    font-size: var(--font-size-7);
}

.label-disclaimer {
    font-size: var(--font-size-7);
    padding-left: 1rem;
}

input[type = checkbox] {
    padding: 1rem;
}

@media screen and (min-width: 50em) {
    .contact-hero-container {
        display: none;
    }

    .contact-contact-container {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    .form-container {
        max-width: 52vw;
        padding-bottom: 2rem;
    }

    .form-intro {
        font-size: var(--font-size-3);
        color: var(--dark-gray);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-title);
    }

    .input-label {
        font-size: var(--font-size-5);
        color: var(--dark-gray);
    }
}
