.daily-mobile-title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-blacker);
    margin-top: 3rem;
}

.daily-intro {
    display: block;
    text-align: center;
    font-size: var(--font-size-7);
    line-height: 1rem;
}

.daily-intro > .highlights {
    font-weight: var(--font-weight-title);
}

.daily-container {
    border: 1px solid var(--green);
    margin: 1rem;
    border-radius: 0.5rem;
}

.daily-title {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-title);
    text-align: center;
}

.daily-description {
    display: none;
}

.chef-description {
    font-size: var(--font-size-7);
    text-align: center;
}

@media screen and (min-width: 50em) {
    .daily-intro {
        display: none;
    }

    .daily-mobile-title {
        display: none;
    }

    .daily-container {
        border: none;
        margin: 0;
        border-radius: 0;
    }

    .daily-title {
        font-size: var(--font-size-2);
        text-align: left;
        font-weight: var(--font-weight-title);
        letter-spacing: -0.05rem;
    }

    .chef-description,
    .daily-description {
        font-size: var(--font-size-5);
        display: block;
        text-align: left;
    }
}
