.dishes-container {
    margin-top: 5vh;
}

.daily-mobile-title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-title);
    letter-spacing: -0.05rem;
    margin-top: 3rem;
}

.daily-intro {
    display: block;
    text-align: center;
    font-size: var(--font-size-7);
    line-height: 1rem;
}

.daily-intro > .highlights {
    font-weight: var(--font-weight-title);
}

.daily-container {
    width: 90vw;
}

.daily-container:first-child {
    border-bottom: 2px solid var(--green);
    padding-bottom: 1rem;
}

.daily-container:nth-child(2) {
    padding-top: 2rem;
}

.daily-dish-title,
.daily-title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-title);
    letter-spacing: -0.05rem;
    line-height: 48px;
    text-align: center;
    margin: 0
}

.daily-dish-title,
.daily-description {
    padding: 1rem 1rem 0 0rem;
    white-space: pre-line;
    text-align: center;
}

.chef-description {
    font-size: var(--font-size-5);
    text-align: center;
}

.daily-description {
    display: block;
    text-align: center;
    line-height: 2;
    font-weight: 600;
}

.daily-starter,
.daily-main-course,
.daily-dessert {
    font-size: var(--font-size-6);
    display: block;
    text-align: center;
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-normal);
    margin: 1rem 0;
}

.daily-starter p,
.daily-main-course p,
.daily-dessert p {
    margin: 0
}

.daily-starter p:first-letter,
.daily-main-course p:first-letter,
.daily-dessert p:first-letter {
    text-transform: capitalize;
}

@media screen and (min-width: 50em) {
    .daily-intro {
        display: none;
    }

    .daily-mobile-title {
        display: none;
    }

    .daily-container {
        border: none;
        border-radius: 0;
        width: 45vw;
        padding: 1rem;
    }

    .daily-container:first-child {
        border-right: 2px solid var(--green);
        border-bottom: none;
    }

    .daily-dish-title,
    .daily-title {
        font-size: var(--font-size-3);
        text-align: center;
        font-weight: var(--font-weight-title);
        letter-spacing: -0.05rem;
        font-style: normal;
        line-height: 1;
    }

    .daily-description {
        display: block;
        text-align: center;
        line-height: 2;
        font-weight: 600;
    }

    .daily-starter,
    .daily-main-course,
    .daily-dessert {
        display: block;
        text-align: center;
        line-height: 1;
        font-weight: 600;
        margin: 1rem 0;
    }

    .daily-starter p,
    .daily-main-course p,
    .daily-dessert p {
        margin: 0
    }

    .daily-starter p:first-letter,
    .daily-main-course p:first-letter,
    .daily-dessert p:first-letter {
        text-transform: capitalize;
    }
}
