.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
}

.headerLogoContainer {
    max-width: 5rem;
}

.headerMobileNavLinksContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 40vw;
}

.headerMobileNavLink {
    margin: 0;
    display: flex;
    width: 5vw;
}

.headerMobileNavLink .disable {
    display: flex;
}

.openingHoursModal.disable {
    display: block;
}

.openingHoursModal.active h3 {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-3);
    color: var(--gray-700);
    text-decoration: underline;
    margin-top: 1rem;
}

.openingHoursModal.active {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    position: absolute;
    right: 29vw;
}

.headerNavLinksContainer {
    display: none;
}

.headerNavLink:hover {
    color: var(--dark-gray);
}

.headerMobileIcon {
    padding: 2vw;
    margin: 1rem
}

/*Header mobile */
.headerMobileNavLink .menu-mobile.active {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    position: absolute;
    right: 5vw;
    z-index: 3;
    transition: all 1s;
}

.headerNavLink-mobile-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--white);
    width: 100%;
    transition: all 1s;
}

.headerNavLink-mobile {
    font-size: var(--font-size-6);
    text-decoration: none;
    color: var(--gray-500);
    padding: 1rem 0;
    border-bottom: 1px solid var(--dark-gray);
}

.headerNavLink-mobile:active {
    color: var(--dark-gray);
}

/* -ns */
@media screen and (min-width: 50em) {
    .headerNavLink {
        padding-left: 2vw;
        color: var(--gray);
        text-decoration: none;
        font-size: var(--font-size-5);
    }

    .headerNavLinksContainer {
        display: block;
    }

    .headerMobileNavLinksContainer {
        display: none;
    }

    .headerLogoContainer {
        max-width: 8rem;
    }

}

/* mobile -> portrait Tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {
    .headerNavLink {
        font-size: var(--font-size-5);
    }
}

/* tablet -> desktop  */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
}

/*  big screens */
@media screen and (min-width: 2560px) {
}
