.menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 75vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid var(--green);
}

.menu-list > h3 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-title);
    font-family: var(--font-sans-serif-text);
    text-decoration: underline;
    font-style: italic;
}

.menu-list > ul {
    padding: 0;
    list-style: none;
}

.menu-list > ul > li {
    font-size: var(--font-size-5);
    margin: 1rem 0
}

.menu > ul > li:first-letter {
    text-transform: capitalize;
    font-weight: var(--font-weight-blacker);
    font-style: italic;
}

.menu.fourth {
    border-bottom: none;
}

@media screen and (min-width: 50em) {
    .menuContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: 1s ease-in-out;
    }

    .menu {
        width: 30vw;
        margin: 0 5vw 0 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        border-bottom: none;
    }

    .menu-list > h3 {
        font-size: var(--font-size-2);
        margin-top: 1rem;
    }

    .menu-list > ul > li {
        font-size: var(--font-size-4);
    }

    .menu-list > ul > li:first-letter {
        text-transform: capitalize;
        font-weight: var(--font-weight-title);
        font-style: italic;
        font-size: var(--font-size-3);
    }

    .separator {
        border-bottom: 2px solid var(--green);
        width: 30vw;
        position: relative;
    }

    .vertical-separator {
        border-right: 2px solid var(--green);
    }

}

/* mobile -> portrait Tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {

}

/* tablet -> desktop  */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {

}

/*  big screens */
@media screen and (min-width: 2560px) {
}
