.menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 75vh;
    margin-top: 5vh;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid var(--green);
}

.menu-list:first-child {
    margin: 0 0 1rem 0
}

.menu-list {
    margin: 1rem 0
}

.menu-list > h3 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-title);
    font-family: var(--font-sans-serif-text);
    letter-spacing: -0.05rem;
    line-height: 48px;
    margin: 0;
}

.menu-list > ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.menu-list > ul > li {
    font-size: var(--font-size-6);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-normal);
}

.menu > ul > li:first-letter {
    text-transform: capitalize;
    font-weight: var(--font-weight-blacker);
    font-style: italic;
}

.menu.fourth {
    border-bottom: none;
}

@media screen and (min-width: 50em) {
    .menuContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: 1s ease-in-out;
        margin: 0 auto 10vh;
        max-width: 70vw;
    }

    .menu {
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        border-bottom: none;
        padding: 1rem 1rem;
    }

    .menu:nth-child(odd) {
        margin: auto;
        align-items: flex-start;
    }

    .menu:nth-child(2n) {
        align-items: flex-end;
        padding-left: 2rem;
    }

    .menu-list > h3 {
        font-size: var(--font-size-4);
        margin-top: 1rem;
    }

    .menu-list > ul > li {
        font-size: var(--font-size-6);
    }

    .menu-list > ul > li:first-letter {
        text-transform: capitalize;
        font-weight: var(--font-weight-title);
        font-style: italic;
        font-size: var(--font-size-3);
    }

    .separator {
        border-bottom: 2px solid var(--green);
        width: 30vw;
        position: relative;
    }

    .vertical-separator {
        border-right: 2px solid var(--green);
    }

}

/* mobile -> portrait Tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {

}

/* tablet -> desktop  */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {

}

/*  big screens */
@media screen and (min-width: 2560px) {
}
