.presentationContainer {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
}

.presentationPictureContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-end;
    justify-content: center;
}

.presentationPicture {
    margin: 1rem;
    z-index: 1;
    border: 2px solid var(--white);
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 1;
    transition: 500ms ease-in-out;
}

.presentationPicture:first-child {
    order: 2;
    align-self: flex-start;
    max-width: 70%;
}

.presentationPicture:nth-child(2) {
    max-width: 50%;
    order: 1;
}

.background-color-mobile {
    position: absolute;
    background-color: var(--beige);
    width: 16rem;
    height: 16rem;
}

/*.presentationPicture:nth-child(1) {*/
/*    margin-bottom: -7rem;*/
/*}*/

.backgroundElement {
    background-color: var(--beige);
    padding: 25vh 15vw;
    position: absolute;
}

.presentationTextContainer {
    align-self: center;
}


.presentationTitle {
    font-family: var(--font-sans-serif-text);
    letter-spacing: var(--letter-spacing-tight);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-title);
    line-height: 48px;
    margin-bottom: 0;
}

.presentationBody {
    font-family: var(--font-sans-serif-text);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-6);
    line-height: var(--line-height-title);
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
}

.presentationBody > .highlights {
    font-weight: var(--font-weight-title);
    letter-spacing: -0.03rem;
}

/* -ns */
@media screen and (min-width: 1024px) {
    .presentationTitle {
        font-size: var(--font-size-2);
        z-index: 1;
        position: relative;
    }

    .presentationTextContainer {
        width: 60%;
        align-self: flex-end;
        margin-top: 7rem;
    }

    .presentationBody {
        width: 75%;
        font-size: var(--font-size-5);
    }

    .presentationPicture {
        opacity: 0;
    }

    .presentationPicture:first-child {
        margin-bottom: -7rem;
        order: 1;
        align-self: flex-end;
    }

    .presentationPicture:nth-child(2) {
        max-width: 100%;
        order: 2;
    }

    .presentationPictureContainer {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        align-items: flex-end;
        justify-content: center;
    }

    .background-color-desktop {
        position: absolute;
        background-color: var(--beige);
        width: 45rem;
        height: 20rem;
        margin-top: -15rem;
        margin-left: -15rem;
        z-index: 0;
    }
}

/* tablet -> desktop  */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
}

/*  big screens */
@media screen and (min-width: 2560px) {
}
