.producers-container {
    margin-top: 5vh;
    min-height: 100vh;
}

.producerTitle {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-title);
    letter-spacing: -0.05rem;
    margin: 0;
    line-height: 48px;
}

.producerDescription {
    font-size: var(--font-size-6);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-normal);
    margin: 0 0 0.5rem;
    text-align: justify;
}

@media screen and (min-width: 50em) {
    .producerTitle {
        font-size: var(--font-size-2);
    }

    .producerDescription {
        font-size: var(--font-size-5);
    }
}

/* mobile -> portrait Tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {

}

/* tablet -> desktop  */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* desktop */
@media screen and (min-width: 1440px) and (max-width: 2560px) {

}

/*  big screens */
@media screen and (min-width: 2560px) {
}
