.testimonialsSectionContainer {
    margin: 5vh 0;
}

.testimonialsSectionTitle {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-title);
}


.testimonialsSectionTitle {
    margin-bottom: 0;
}

.testimonialsContainer {
    display: flex;
    flex-direction: column;
}

.testimonial {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-sans-serif-text);
    padding: 1rem;
}

@media screen and (min-width: 50em) {
    .testimonialsSectionTitle {
        font-size: var(--font-size-2);
    }

    .testimonialsContainer {
        display: flex;
        flex-direction: row;
    }

    .testimonial {
        font-size: var(--font-size-5);
    }
}
