.testimonialsSectionContainer {
    margin: 5vh 0;
}

.testimonialsSectionTitle {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-title);
}


.testimonialsSectionTitle {
}

.testimonialsContainer {
    display: flex;
    flex-direction: row;
}

.testimonial {
    font-size: 18px;
    padding: 1rem;
    font-weight: 300;
    font-family: var(--font-sans-serif-text);
}
